{% extends "layout.html" %}
{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/symptoms",
    text: "Back"
  }) }}
{% endblock %}

{% from 'button/macro.njk' import button %}
{% from 'summary-list/macro.njk' import summaryList %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers before sending your application</h1>

      <h2 class="nhsuk-heading-m">
        Personal details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Do you have magical power symptoms?"
            },
            value: {
              text: data.hasSymptoms
            },
            actions: {
              items: [
                {
                  href: "/magical-powers",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Description of symptoms"
            },
            value: {
              text: data.description
            },
            actions: {
              items: [
                {
                  href: "/symptoms",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}



      

      <h2 class="nhsuk-heading-m">
        Now send your application
      </h2>

      <p>
        Your details will be sent to the ministry of magic
      </p>

      <form action="/confirmation" method="post" novalidate>
        {{ button({
          text: "Confirm and send"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}