{% extends "layout.html" %}
{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/check-answers-2",
    text: "Back"
  }) }}
{% endblock %}
{% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Test kit is on route",
        text: "You will recieve the kit in 50-100 days"
      }) }}

      <h2 class="nhsuk-heading-m">Delivery</h2>

      {% set siteLocationHtml %}
        Hogwarts School of Witchcraft and Wizardry, Hogwarts Castle, Scottish Highlands, Great Britain.
      {% endset %}

      {{ summaryList({
        classes: "nhsuk-summary-list--no-border",
        rows: [
          {
            key: {
              text: "Sender"
            },
            value: {
              html: siteLocationHtml
            }
          },
          {
            key: {
              text: "Date and time"
            },
            value: {
              text: "Thursday 15 June at 9:10am"
            }
          }
        ]
      }) }}


      {% from 'images/macro.njk' import image %}

{% if "Owl" in data.sending %}

  {{ image({
    src: "/images/owl.jpg",
    sizes: "(max-width: 768px) 100vw, 66vw",
    srcset: "/images/owl.jpg 600w, /images/owl.jpg 1000w",
    alt: "Owl delivering post.",
    caption: "Owl delivering post."
  }) }}

  {% elseif "Broomstick" in data.sending %}

{{ image({
  src: "/images/broom.jpg",
  sizes: "(max-width: 768px) 100vw, 66vw",
  srcset: "/images/broom.jpg 600w, /images/broom.jpg 1000w",
  alt: "Broom delivering post.",
  caption: "Broom delivering post."
}) }}

{% elseif "Floo Powder" in data.sending %}

{{ image({
  src: "/images/floo.jpg",
  sizes: "(max-width: 768px) 100vw, 66vw",
  srcset: "/images/floo.jpg 600w, /images/floo.jpg 1000w",
  alt: "Floo delivering post.",
  caption: "Floo delivering post."
}) }}

{% elseif "Knight Bus" in data.sending %}

{{ image({
  src: "/images/bus.jpg",
  sizes: "(max-width: 768px) 100vw, 66vw",
  srcset: "/images/bus.jpg 600w, /images/bus.jpg 1000w",
  alt: "Bus delivering post.",
  caption: "Bus delivering post."
}) }}
{% endif %}
      <p>
        <a href="#">Tell us about your experience using this service</a>
      </p>

    </div>
  </div>
{% endblock %}