{% extends "layout.html" %}
{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/magical-powers",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/check-answers-2" method="post" novalidate>
{% from 'textarea/macro.njk' import textarea %}

{{ textarea({
  name: "description",
  value: data.description,
  id: "description",
  label: {
    text: "Please describe your magical powers",
    classes: "nhsuk-label--l",
    isPageHeading: "true"
  },
  hint: {
    text: "Ability to speak to animals, teleportation or able to see through walls"
  }
}) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}